div.addCampaign-title {
  width: 906px;
  height: 60px;
  background: #fafafa;
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 15px 15px 0px 0px;
  div.addCampaignModal-title-span {
    width: 161px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border-radius: 15px 15px 0px 0px;
    color: #1f4173;
    padding-top: 18px;
    padding-left: 28px;
    padding-bottom: 20px;
    padding-right: 717px;
  }
}

.addCampaignModal-labels {
  width: 105px;
  height: 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1f4173;
  opacity: 0.8;
}

.addCampaignModal-inputs {
  margin-top: 12px;
  margin-bottom: 20px;
  height: 44px;
  width: 270px;
  border: none;
  border-radius: 10px;
  background: #f4f5f8;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f4173;
  padding-left: 15px;
  &.search-box {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #f4f5f8;
    width: 280px;
    height: 40px;
    left: 776px;
    top: 159px;
    background: #1f4173;
    opacity: 0.05;
    border-radius: 10px;
  }
  &::placeholder {
    color: #1f4173;
    opacity: 0.5;
  }
}

select.addCampaignModal-selects {
  margin-bottom: 20px;
  height: 47px;
  margin-top: 12px;
  width: 270px;
  border-radius: 10px;
  background: #f4f5f8;
  border: none;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 10px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: #1f4173;
  text-align: left;
  outline: none;
  &:invalid {
    color: #1f4173;
    opacity: 0.5;
  }
}

input[type="date"].addCampaignModal-datePicker {
  margin-top: 12px;
  margin-bottom: 20px;
  height: 44px;
  width: 270px;
  background: #f4f5f8;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  outline: none;
  padding-left: 15px;
  color: #1f4173;
  text-align: left;
  &:invalid::-webkit-datetime-edit {
    color: #1f4173;
    opacity: 0.5;
  }
}
input[type="time"].addCampaignModal-timePicker {
  margin-top: 12px;
  margin-bottom: 20px;
  height: 44px;
  width: 270px;
  background: #f4f5f8;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  outline: none;
  padding-left: 15px;
  color: #1f4173;
  text-align: left;
  &:invalid::-webkit-datetime-edit {
    color: #1f4173;
    opacity: 0.5;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  border-width: thin;
}

.addCampaignModal-title-span {
  width: 100%;
  height: 68px;
  background-color: #fafafa;
  border-radius: 15px 15px 0 0;
}
