.campaign-container {
  margin-top: 25px;
  width: auto;
  height: auto;
  box-shadow: 0px 4px 8px 0px #d9ebf2;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 20px;
  width: 1203px;
  height: 480px;
  background: #ffffff;
  box-shadow: 0px 4px 8px #d9ebf2;
  border-radius: 15px;
}
