.table-container {
  width: 100%;
  box-sizing: border-box;
  border-radius:20px;
  
  align-items: center;
  .table-main {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    overflow-x: hidden;
    overflow-y: scroll;

    .table-header-row {
      width: 100%;
      height: 45px;
      text-align: left;
     
      .table-header-row-data {
        text-align: left;
        
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        color:#1F4173;
        text-align: left;
        
      }
    }
    .table-body-row {
      width: 100%;
      height: 45px;
      text-align: left;
      
      .table-body-row-data {
        
        font-size: 14px;
        font-style: normal;
        font-weight: 600  !important;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #1f4173;
        opacity: 0.7;
      }
    }
  }
}

.table-heading{
  
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;

}

.sortIcon{
  width: 16px;
  height: 16px;
}

.table-scroll{
  height: 44vh;
  overflow-y:scroll;
  scrollbar-width: thin;
  


}

.table-scroll::-webkit-scrollbar-thumb{
  border-radius: 10px;
}


.table-scroll::-webkit-scrollbar {
  height: 10px;
  width: 6px;
  border-radius: 15px;
}
.table-scroll::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 1px;
}
.table-scroll::-webkit-scrollbar-thumb {
  height: 165px;
  background: #e6eaf2;
  border-radius: 20px;
}
