.dialog {
  background-color: orange;
  .dialoge-content {
    .title-area {
      .model_subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 65, 115, 0.5);
      }
    }
    .model_body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .dialog-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.model_title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #1f4173;
}
