.leads-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 4px 8px #d9ebf2;
  border-radius: 15px;
  .leads-header {
    height: 85px;
    width: 100%;
  }
  .leads-body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 330px auto 230px;
    .section {
    }
    .leads-list {
      box-sizing: border-box;
      background: linear-gradient(
        270deg,
        #f1f1f1 0%,
        rgba(248, 248, 249, 0.8) 134.62%
      );
      border-radius: 0px 0px 0px 15px;
      padding: 8px 4px 16px 4px;
      .checkbox-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
      }
    }
    .leads-detail {
      box-shadow: 0px 4px 8px #d9ebf2;
    }
    .leads-actions {
      box-sizing: border-box;
      height: calc(100vh - 180px);
      margin-top: 15px;
      padding: 0px 5px;
      overflow-y: auto;
      overflow-x: hidden;
      .action-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 65, 115, 0.7);
      }
      .action-buttons {
        box-sizing: border-box;
        padding: 6px 0px;
        display: grid;
        grid-gap: 6px;
      }
      .disabled {
        pointer-events: none;
        opacity: 0.5;
      }
      .autocomplete-container {
        margin: 10px 0px;
        display: grid;
        grid-template-rows: auto;
        row-gap: 6px;
        .autocomplete-title {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: rgba(31, 65, 115, 0.7);
        }
      }
      .add-notes-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 6px;
      }
      .add-nts-btn {
        background: rgba(0, 58, 210, 0.15);
        border-radius: 10px;
        width: 180px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #003ad2;
      }
      .hide {
        display: none;
      }
      .show {
        display: grid;
      }
    }
  }
}
