.leadsSearch {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  border: none;
  font-weight: 600;
  color: rgb(92, 117, 154);
  font-size: 14px;
  padding-left: 10px;
  min-width: 158px;
  max-width: 300px;
}
