.dashboard-container {
  background: #f5f7fb;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  .dshboard-content {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    height: 100%;
    padding-right: 1%;
    overflow-y: auto;
    .dashboard-title {
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 31px;
      letter-spacing: -0.02em;
      text-align: left;
      margin: 0px 4px;
    }
    .dash-box {
      width: 100%;
      height: auto;
      display: flex;
      margin-top: 12px;
      margin-bottom: 30px;
      justify-content: space-between;
      .dash-lead-box {
        display: inline-flex;
        height: auto;
        width: auto;
        flex-wrap: wrap;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 12px;
        margin-right: 8px;
        background-color: #ffffff;
        .dash-card-head {
          font-style: normal;
          font-weight: 600;
          font-size: 26px;
          margin-bottom: 0px;
          text-transform: capitalize;
          color: #1f4173;
        }
        .dash-card-subhead {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          margin-top: 10px;
          display: inline-block;
          letter-spacing: -0.02em;
          text-transform: capitalize;
          color: #1f4173;
          opacity: 0.7;
        }
      }
      .dashboard-content-second {
        background: #f5f7fb;
        width: 100%;
        height: 100%;
      }
      .dash-card-bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 4px;
      }
    }

    // .campaign-cards {
    //   margin: 12px 0px;
    //   width: 100%;
    //   // height: 150px;
    //   display: flex;
    //   justify-content: space-between;

    //   .cards {
    //     display: flex;
    //   }
    // }

    .campaign-list-container {
      margin-top: 25px;
      width: auto;
      height: auto;
      max-height: 400px;
      box-shadow: 0px 4px 8px 0px #d9ebf2;
      background: #ffffff;
      border-radius: 15px;

      .campaign-list-header {
        width: auto;
        height: 60px;
        box-sizing: border-box;
        padding: 25px;

        .campaign-list-title {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
    .table-container {
      width: 100%;
      box-sizing: border-box;
      border-radius: 20px;
    }
  }
}

@media only screen and (max-width: 1460px) {
  .dashboard-container {
    .dshboard-content {
      .dashboard-title {
        font-size: 20px;
      }
      .dash-box {
        .dash-lead-box {
          padding: 8px;
          .dash-card-head {
            display: flex;
            justify-content: center;
            font-size: 18px;
          }
          .dash-card-subhead,
          .dash-card-subhead-wrapper {
            font-size: 12px;
            margin-top: 0px;
            display: flex;
            align-items: center;
            flex-direction: column;
          }
        }
      }
      .campaign-list-container {
        .campaign-list-header {
          .campaign-list-title {
            font-size: 15px;
          }
        }
      }
    }
  }
}
