.campaign-display-container {
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  .selected {
    background: #003ad2;
    // border-radius: 10% 0 0 10%;
    color: #ffff !important;
  }

  .campaign-display-subcontainers {
    cursor: pointer;
    width: 100%;
    height: 65px;
    // border: 1px solid aliceblue;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #003ad2;
    align-items: center;
    padding: 2px 15px;
    border-bottom: solid rgb(236, 238, 242) 2px;
    .campaign-display-check {
      box-sizing: border-box;
      margin-top: -10px;
      width: 20px;
      height: 20px;
    }
    .campaign-display-subcontainer1 {
      color: #003ad2;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      .display-cont {
        .campaign-display-btn-text {
          width: 240px;
          height: 18px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &.searched-campaign-empty {
            font-size: 16px;
            height: 18px;
            text-align: center;
            height: 100%;
            white-space: nowrap;
            width: 100%;
          }
        }
      }
    }
    .campaign-display-subcontainer2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: rgba(31, 65, 115, 0.5);
    }
    .selected-sub {
      color: rgba(255, 255, 255, 0.5) !important;
    }
  }
}

// .campaign-checkbox-menu-container {
//   box-sizing: border-box;
//   height: 42px;
//   width: auto;
//   padding: 6px 15px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   border-bottom: solid rgb(236, 238, 242) 2px;
//   .campaign-checkbox-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//   }
// }
.campaign-checkbox-menu-container {
  height: 42px;
  width: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px;

  .campaign-checkbox-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .all-label {
      margin-left: 6px;
      width: 20px;
      height: 18px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      margin-top: 1px;
      color: #003ad2;
    }
  }
  .campaign-display-actions {
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #003ad2;
    cursor: pointer;
  }
}

.popover-body {
  box-shadow: none;
  display: grid;
  grid-template-columns: auto;
  box-sizing: border-box;
  padding: 10px;
  grid-row-gap: 10px;
  background: #ffffff;
  .campaign-btn {
    cursor: pointer;
    width: 281px;
    height: 44px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    .campaign-btn-text {
      width: 240px;
      height: 17px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: start;
      color: #ffffff;
      margin-left: 13px;
    }
    &.delete-btn {
      color: #ff6c5f;
      background: #ff6c5f;
      opacity: 1;
    }
    &.download-btn {
      background: #003ad2;
    }
  }
}
