#modal-modal-title-1 {
  background-color: #323c4c;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px 0px 0px 0px;
}
.crossIcon {
  float: "right";
}
.popupContainer {
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px;
  border-radius: 20px 0px 0px 0px;
  width: 29%;
  float: right;
  margin-top: 3%;
  // height: 100vh;
  margin-bottom: 200px;
  .box-contain {
    scrollbar-width: thin;
    position: relative;
    z-index: 1000;
    overflow: auto;
    height: 87%;
  }
}
.box-containt-heading {
  margin-left: 14px;
  margin-top: 4px;
  color: "#1F4173";
  padding: 10px;
}
.box-container-passage {
  color: #627a9d;
  margin-left: 14px;
  padding: 10px;
}

.box-contain::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.box-contain::-webkit-scrollbar {
  height: 10px;
  width: 6px;
  border-radius: 15px;
}
.box-contain::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 1px;
}
.box-contain::-webkit-scrollbar-thumb {
  height: 165px;
  background: #e6eaf2;
  border-radius: 20px;
}
