.campaign-menu-select {
  border: none;
  background-color: inherit;
  width: fit-content;
  color: #003ad2;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

#campaign-simple-select {
  padding: 0px 12px;
}
