.leads-header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .left-section {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    padding: 0px 10px;
    .leads-input {
      display: flex;
      width: auto;
      align-items: center;
      background-color: #e7e7e7;
      padding: 0px 4px;
      height: 40px;
      border-radius: 10px;
      .search-input-leads {
        width: 280px;
        height: 40px;
        border-radius: 10px;
        background-color: #e7e7e7;
        border: none;
        font-weight: 600;
        //   color: rgba(92; 117;154);
        font-size: 14px;
        padding-left: 10px;
      }
      .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .search-input-leads:focus {
        outline: none !important;
      }
    }
    .select-container {
      .select-button {
        text-transform: none;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-weight: 600;
        border-radius: 10px;
        width: 160px;
        background-color: rgb(233, 236, 241);
        color: rgba(92, 117, 154);
        .select-btn-title {
          width: 110px;
          height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
      }
      .menu {
        .menu-item {
          font-size: 17px;
          font-weight: 600;
        }
      }
    }
  }
  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .filter-icon {
      .filter-btn {
        font-family: Segoe UI;
        text-transform: none;
        height: 40px;
        width: 25px;
        font-weight: 600;
        padding: 10px;
        border-radius: 10px;
        margin-left: 5px;
        background-color: rgba(231, 231, 231);
        color: rgba(92, 117, 154);
      }
    }
    .export-to-excel-button {
      text-transform: none;
      height: 30px;
      font-weight: 600;
      width: 130px;
      padding: 10px;
      border-radius: 10px;
      margin-left: 10px;
      height: 40px;
      background: #003ad2;
      color: rgb(255, 255, 255);
      border: none;
      box-shadow: none;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
        color: #ffff;
        box-shadow: none;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 1460px) {
  .leads-header-container {
    .left-section {
      .leads-input {
        width: 250px;
        .search-input-leads {
          font-size: 13px;
        }
      }
      .select-container {
        .select-button {
          font-size: 13px;
          text-align: center;
        }
        .menu {
          font-size: 13px;
          .menu-item {
            font-size: 13px;
          }
        }
      }
    }
    .right-section {
      .select-container {
        font-size: 12px;
        .menu {
          font-size: 12px;
          .menu-item {
            font-size: 12px;
          }
        }
      }
    }
  }
}
