.navbar-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-sizing: border-box;
  padding: 4px;
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .back-button {
      margin: 0px 4px 0px 0px;

      .back-button-img {
        width: 16px;
        height: 16px;
      }
    }
    .logo-image {
      width: 235px;
      height: 22px;
      box-sizing: border-box;
      margin: 0px 0px 4px 12px;
    }
  }
  .user-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 15px;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
    .profile-icon {
      margin-left: 15px;
      margin-right: 8px;
    }
    .user-profile-title {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: right;
      box-sizing: border-box;
      margin: 0px 4px;
      padding: 0px 4px;
      color: #1f4173;
    }
  }
  .navbar-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    background-color: #1f4173 !important;
  }
}

@media only screen and (max-width: 1460px) {
  .navbar-container {
    .user-profile-container {
      .user-profile-title {
        font-size: 14px;
      }
    }
  }
}
