.table-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 45vh;
}

.table-wrapper::-webkit-scrollbar {
  height: 10px;
  width: 6px;
  border-radius: 15px;
}
.table-wrapper::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
}
.table-wrapper::-webkit-scrollbar-thumb {
  height: 165px;
  background: #e6eaf2;
  border-radius: 15px;
}

.camp-table-container{
    overflow-y: hidden;
  overflow-x: scroll;
  margin-right: 8px;
  max-height: 50vh;
}

.camp-table-container::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  border-radius: 15px;
}
.camp-table-container::-webkit-scrollbar-track {
  background: #ffffff;
 // margin-top: 20px;
 margin-left: 20px;
  border-radius: 15px;
 // margin-bottom: 25px;
}
.camp-table-container::-webkit-scrollbar-thumb:horizontal {
  height: 165px;
  background: #e6eaf2;
  border-radius: 15px;
}

// .outer-wrapper{
//   overflow-y: hidden;
//   overflow-x: scroll;
//   max-height: 50vh;
// }





.outer-wrapper {
  table {
    overflow-x: auto;
    min-width: max-content;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    position: relative;

    th {
      position: sticky;
      top: 0px;
      font-size: 14px;
      text-align: left;
      padding-top: 15px;
      padding-bottom: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      color: #1f4173;
      background: #fafafa;
    }
    .campaign-name {
      width: 150px;
      padding-left: 20px;
      border-radius: 10px 0px 0px 0px;
      opacity: 1;
      padding-right: 10px;
    }
    .location {
      padding-right: 10px;
      width: 100px;
    }
    .numOfLeads {
      padding-right: 10px;
      width: 100px;
      i {
        margin-left: 10px;
      }
    }
    .start-date {
      padding-right: 10px;

      width: 95px;
      text-align: left;
      i {
        margin-left: 10px;
      }
    }
    .end-date {
      padding-right: 10px;
      width: 86px;
      text-align: left;
      i {
        margin-left: 10px;
      }
    }
    .created-by {
      padding-right: 10px;
      width: 120px;
      text-align: left;
      i {
        margin-left: 10px;
      }
    }
    .status {
      padding-right: 10px;
      width: 92px;
      i {
        margin-left: 10px;
      }
    }
    .green-switch {
      padding-right: 10px;
      width: 55px;
      text-align: left;
    }
    .actions {
      padding-right: 10px;
      width: 160px;
      text-align: center;
      border-radius: 0px 10px 0px 0px;
    }
    .headerHover:hover {
      cursor: pointer;
    }
  }
}

.table-wrapper {
  table {
    min-width: max-content;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    position: relative;
    tbody tr.bottomBorder {
      border-bottom: 1px solid black;
      position: absolute;
      left: 22px;
      background: #1f4173;
      right: 30px;
      opacity: 0.07;
    }
    td {
      text-align: left;
      font-size: 14px;
      width: 290px;
      height: 37px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #1f4173;
      padding-top: 18px;
      padding-bottom: 18px;
      opacity: 0.7;
      &.campaign-name {
        width: 150px;
        padding-left: 20px;
        border-radius: 10px 0px 0px 0px;
        opacity: 1;
        padding-right: 10px;
      }
      &.location {
        width: 100px;
        padding-right: 10px;
      }
      &.numOfLeads {
      padding-left: 10px;
        width: 100px;
        text-align: left;
        i {
          margin-left: 10px;
        }
        a:-webkit-any-link {
          color: #1f4173;
          cursor: pointer;
          text-decoration: none;
        }
      }
      &.start-date {
       padding-left: 10px;
        width: 95px;
        text-align: left;
        i {
          margin-left: 10px;
        }
      }
      &.end-date {
       padding-left: 10px;
        width: 86px;
        text-align: left;
        i {
          margin-left: 10px;
        }
      }
      &.created-by {
      padding-left: 10px;
        width: 120px;
        text-align: left;
        i {
          margin-left: 10px;
        }
      }
      &.status {
      padding-left: 15px;
        width: 92px;
        i {
          margin-left: 10px;
        }
      }
      &.green-switch {
        padding-right: 10px;
        width: 55px;
        text-align: center;
      }
      &.actions {
        width: 176px;
        text-align: center;
        border-radius: 0px 10px 0px 0px;
      }
    }
  }
}

.toggleSwitch.css-1ncyzq6-MuiSwitch-root .MuiSwitch-switchBase.Mui-checked {
  color: #17c293 !important;
  &.css-jsexje-MuiSwitch-thumb {
    width: 18px !important;
    height: 18px !important;
    background: #17c293;
  }
  &.MuiSwitch-track {
    background-color: #43a047;
    height: 13px;
    width: 36px;
    background: #17c29333;
    background: rgba(23, 194, 147, 1.2);
    border-radius: 20px;
  }
}
.toggleSwitch.css-1ncyzq6-MuiSwitch-root
  .MuiSwitch-switchBase.Mui-checked:hover {
  background: none !important;
}
.toggleSwitch.css-1ncyzq6-MuiSwitch-root .MuiSwitch-switchBase:hover {
  background: none !important;
}

.toggleSwitch.css-1ncyzq6-MuiSwitch-root .MuiSwitch-switchBase {
  color: #ff6c5f !important;
  &.css-jsexje-MuiSwitch-thumb {
    width: 18px !important;
    height: 18px !important;
    background: #17c293;
    width: 18px;
    height: 18px;
    background: #ff6c5f;
  }
  &.css-1yjjitx-MuiSwitch-track {
    border-radius: 20px;
    opacity: 0.38;
    background: rgba(255, 108, 95, 1.2);
    height: 13px;
    width: 36px;
  }
}

//media query for small screen

@media only screen and (min-width: 650px) and (max-width: 1050px) {
 
  .table-wrapper {
    table {
      min-width: max-content;
      border-collapse: collapse;
      border-spacing: 0px;
      width: 100%;
      position: relative;
      tbody tr.bottomBorder {
        border-bottom: 1px solid black;
        position: absolute;
        left: 22px;
        background: #1f4173;
        right: 30px;
        opacity: 0.07;
      }
      td {
        text-align: left;
        font-size: 12px;
        width: 250px;
        height: 37px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        color: #1f4173;
        padding-top: 18px;
        padding-bottom: 18px;
        opacity: 0.7;
        &.campaign-name {
          width: 121px;
          padding-left: 20px;
          border-radius: 10px 0px 0px 0px;
          opacity: 1;
          padding-right: 10px;
        }
        &.location {
          width: 80px;
          padding-left: 10px;
         // padding-right: 10px;
        }
        &.numOfLeads {
          padding-right: 10px;
          width: 80px;
          text-align: left;
          i {
            margin-left: 10px;
          }
          a:-webkit-any-link {
            color: #1f4173;
            cursor: pointer;
            text-decoration: none;
          }
        }
        &.start-date {
          padding-right: 10px;
          width: 75px;
          text-align: left;
          i {
            margin-left: 10px;
          }
        }
        &.end-date {
          padding-right: 10px;
          width: 66px;
          text-align: left;
          i {
            margin-left: 10px;
          }
        }
        &.created-by {
          padding-right: 10px;
          width: 100px;
          text-align: left;
          i {
            margin-left: 10px;
          }
        }
        &.status {
          padding-right: 10px;
          width: 92px;
          i {
            margin-left: 10px;
          }
         }
        &.green-switch {
          padding-right: 10px;
          width: 45px;
          text-align: center;
        }
        &.actions {
          padding-right: 10px;
          width: 140px;
          text-align: center;
          border-radius: 0px 10px 0px 0px;
        }
      }
    }
  }
}

//css for table heading

@media only screen and (min-width: 650px) and (max-width: 1050px) {
  .outer-wrapper {
    table {
      min-width: max-content;
      border-collapse: collapse;
      border-spacing: 0px;
      width: 100%;
      position: relative;
  
      th {
        position: sticky;
        top: 0px;
        font-size: 12px;
        text-align: left;
        padding-top: 15px;
        padding-bottom: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        color: #1f4173;
        background: #fafafa;
      }
      .campaign-name {
        width: 130px;
        padding-left: 14px;
        border-radius: 10px 0px 0px 0px;
        opacity: 1;
        padding-right: 10px;
      }
      .location {
        padding-right: 10px;
      // padding-left: 10px;
        width: 65px;
      }
      .numOfLeads {
        padding-right: 10px;
        width: 85px;
        i {
          margin-left: 10px;
        }
      }
      .start-date {
        padding-right: 10px;
  
        width: 85px;
        text-align: left;
        i {
          margin-left: 10px;
        }
      }
      .end-date {
        padding-right: 10px;
        width: 70px;
        text-align: left;
        i {
          margin-left: 10px;
        }
      }
      .created-by {
        padding-right: 10px;
        width: 90px;
        text-align: left;
        i {
          margin-left: 10px;
        }
      }
      .status {
        padding-right: 10px;
        width: 105px;
        i {
          margin-left: 10px;
        }
      }
      .green-switch {
        padding-right: 10px;
        width: 55px;
        text-align: left;
      }
      .actions {
        padding-right: 81px;
        width: 149px;
        text-align: center;
        border-radius: 0px 10px 0px 0px;
      }
      .headerHover:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1460px) {
  .outer-wrapper {
    table {
      th {
        font-size: 13px;
      }
    }
  }
  .table-wrapper {
    table {
      td {
        font-size: 13px;
      }
    }
  }
}
