* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Poppins" !important;
}
html,
* {
  font-family: "Poppins" !important;
}

body {
  font-family: "Poppins" !important;
}
* {
  scrollbar-width: thin;
  // scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 8px;
  border-radius: 15px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
}

*::-webkit-scrollbar-thumb {
  height: 165px;
  background: #e6eaf2;
  border-radius: 15px;
}
