* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Proxima Nova", "Segoe UI";
}
html {
  font-family: "Proxima Nova", "Segoe UI";
}

body {
  font-family: "Proxima Nova", "Segoe UI";
}
