.leads-container {
  overflow: hidden;
  margin: 8px 0px;
  .leads-header {
    height: 80px;
    width: auto;
    box-sizing: border-box;
    padding: 8px 8px 8px 0px;
    display: flex;
  }
  .leads-table-container {
    height: 100%;
    // width: auto;
    // position: relative;
    // box-shadow: 1px rgba(31, 65, 115, 0.1);
    // border-radius: 5px;
    // overflow: scroll;
    .leads-table {
      overflow-y: scroll;
      max-height: 49vh;
      overflow-x: hidden;
      scrollbar-width: thin;
    }
  }
  .export-to-excel-button {
    text-transform: none;
    height: 40px;
    width: 181px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgb(138, 153, 183);
    color: rgb(255, 255, 255);
    &:hover {
      cursor: pointer;
      background: #ffffff;
      color: rgba(15, 90, 203, 0.5);
      border: 1px solid rgb(9 20 37 / 50%);
    }
  }
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
}
.leads-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.leads-table::-webkit-scrollbar {
  height: 10px;
  width: 6px;
  border-radius: 15px;
}
.leads-table::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 1px;
}
.leads-table::-webkit-scrollbar-thumb {
  height: 165px;
  background: #e6eaf2;
  border-radius: 20px;
}
.button-calender {
  display: flex;
  justify-content: flex-end;
  padding-left: 3px;
}
.filter-icon {
  margin-left: 10px;
}
