.leads-container {
  overflow: hidden;
  margin: 8px 0px;
  .leads-header {
    height: 80px;
    width: auto;
    box-sizing: border-box;
    padding: 8px 8px 8px 0px;
    display: flex;
  }
  .leads-table-container {
    height: 100%;
    .leads-table {
      overflow-y: scroll;
      max-height: 49vh;
      overflow-x: hidden;
      scrollbar-width: thin;
    }
  }
  .export-to-excel-button {
    text-transform: none;
    height: 30px;
    font-weight: 600;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    // background-color: #424e62;
    background-color: #339966;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: none;
    &:hover {
      cursor: pointer;
      background: #2e8a5c;
      color: #ffff;
      box-shadow: none;
      border: none;
    }
  }
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
}
.leads-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.leads-table::-webkit-scrollbar {
  height: 10px;
  width: 6px;
  border-radius: 15px;
}
.leads-table::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 1px;
}
.leads-table::-webkit-scrollbar-thumb {
  height: 165px;
  background: #e6eaf2;
  border-radius: 20px;
}
.button-calender {
  display: flex;
  justify-content: flex-end;
  padding-left: 3px;
  margin-right: 10px;
  padding: 5px;
}
.filter-icon {
  margin-left: 10px;
}

.pagination-select {
  background-color: #fafafa;
  padding: 15px;
  width: 97.5%;
  border-radius: 15px;
  margin-top: 14px;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
  .card-selects {
    border: none;
    outline: none;
    padding: 4px;
    width: 65px;
    height: 40px;
    background-color: rgb(231, 231, 231);
    color: rgb(92, 117, 154);
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1460px) {
  .leads-container {
    .export-to-excel-button {
      font-size: 12px;
    }
  }
  .pagination-select {
    .card-selects {
      font-size: 13px;
      width: 60px;
      height: 40px;
    }
  }
}
