.btn {
  width: 150px;
  height: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #1f4173;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    opacity: 0.9;
  }
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.green-btn {
  // background: #24d6a5;
  background: #e0f9f2;
}
.yellow-btn {
  // background: #ffbd00;
  background: #fdf6db;
}
.grey-btn {
  // background: #737b8b;
  background: #ebedef;
}
.pink-btn {
  // background: #f2383a;
  background: #f9e3e4;
}
.blue-btn {
  background: #e0f9f2;
}

.apply-btn {
  height: 35px;
  width: 70px;
  padding: 6px;
  margin-left: 10px;
  background: #003ad2;
  color: rgb(255, 255, 255);
}
.cancel-btn {
  height: 35px;
  width: 70px;
  padding: 6px;
  margin-left: 5px;
  background: #384550;
  color: rgb(255, 255, 255);
}
